repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-toml
    -   id: check-illegal-windows-names
    -   id: debug-statements
    -   id: mixed-line-ending
    -   id: no-commit-to-branch
